# Ignore node_modules
node_modules

# Ignore .next
.next

# Ignore build output
.next
out

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Docker-related files
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.yaml

# Ignore miscellaneous files
*.log
*.temp
*.tmp

# Ignore system files
.DS_Store
Thumbs.db
.vscode
.idea

# Ignore coverage
coverage

# Ignore test outputs
jest-html-reporters-*.html
